ETH_NODE_URL='https://eth.llamarpc.com'
SEPOLIA_NODE_URL='https://rpc.ankr.com/eth_sepolia'
MANTLE_NODE_URL='https://rpc.mantle.xyz'
ARBITRUM_NODE_URL='https://arb1.arbitrum.io/rpc'
SCROLL_NODE_URL='https://rpc.scroll.io'
MODE_NODE_URL='https://mainnet.mode.network'
FRAXTAL_NODE_URL='https://rpc.frax.com'
LYRA_NODE_URL='https://rpc.derive.xyz'
SWELL_NODE_URL='https://rpc.ankr.com/swell'
SOLANA_NODE_URL='https://api.mainnet-beta.solana.com'
BASE_NODE_URL="https://mainnet.base.org"
HYPEREVM_NODE_URL="https://rpc.hyperlend.finance/archive"
PLASMA_NODE_URL="https://rpc.plasma.to"
DERIVE_SUBGRAPH_API_KEY=''